@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/Montserrat-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: 700;
}


:root {
  --btn-variant-default: #FFCE22;
  --btn-variant-hover: #FFD84D;
  --color-default: #CDCDCD;
  --font-color: #1F2128;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: 'Montserrat', sans-serif;
  color: var(--font-color);
}

#base-page {
  display: flex;
  justify-content: center;
}



div.action {
  padding: 10px 15px;
  gap: 10px;
}
.btn-variant {
  background-color: var(--btn-variant-default);
  width: 100%;
  height: 40px;
  padding: 10px 20px;
  border: 0;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

.btn-variant:hover {
  background-color: var(--btn-variant-hover);
}

.container {
  margin-top: 85px;
  min-width: 372px;
  /* min-height: 328px; */
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: #EEEEEE 1px solid;
  box-shadow:
  0px 8px 15px #1414141F,
  0px 0px 4px #1414141A;
}


button.page-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3.5px 15px 3.5px 22px;
  font-family: 'Montserrat', sans-serif;
  background-color: white;
  border: 0px;
  font-size: 14px;
}

button.page-item:hover {
  cursor: pointer;
}

div.divider {
  box-sizing: border-box;
  padding: 9.3px 15px;
  width: 370px;
  height: 20px;
}
div.divider::after {
  content: "";
  padding: 0;
  display: block;
  border-bottom: 0.7px solid var(--color-default);
  width: 100%;
}

div.items-wrapper {
  height: 164px;
  display: flex;
  flex-direction: column;
  width: 100%;
  scrollbar-width: none;
  overflow-y: auto;
  -ms-overflow-style: none;
}

div.items-wrapper::-webkit-scrollbar {
  display: none;
}